ul li{
    list-style: none;
}
.clear{
    clear: both;
}
body{
    background: #fff;
}
.am-btn-success{
	background-color: #00418f;
	border-color: #00418f;
}
.am-btn-success:focus, .am-btn-success:hover{
	background-color: #00418f;
	border-color: #00418f;
}
.am-topbar{
	background-color: #00418f;
	margin-bottom: 0;
	/*height: 5rem;*/
	border-color: #00418f;
}
.logo_img{
	width: 80%;
}
.color_white{
	color: #fff!important;
}
.am-nav>li>a:focus, .am-nav>li>a:hover{
	background-color:transparent!important;
}
.bor_bottom{
	border-bottom: .05rem solid #ffffff;
	line-height: 2rem!important;
}
.am-nav>li>a {
    position: relative;
    display: block;
    padding: 1em 1em;
    border-radius: 0;
}
.nav_bgcolor{
	background-color: #006bd7;
}

.am-topbar-nav {
	margin-bottom: 0!important;
}
.am-topbar-collapse{
	padding:0;
}
.am-topbar-btn{
	margin-top: 0;	
}
.am-topbar-toggle{
	margin-right: 0;
}
.am-btn{
	padding: .2em 1em;
}



.swiper-slide img{
    width: 100%;
    height: 100%;
    /*height: 436px;*/
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff!important;
}

.swiper-pagination-bullet {
    width: .7rem!important;
    height: .7rem!important;
    display: inline-block;
    border-radius: 100%;
    background: #fff!important;
    opacity: 0.5;
}

.product{
    width: 100%;
    /*height: 5px;*/
    background-color: #fff;
    border:1px solid #f5f5f6;
    /*padding-bottom:20px;*/
}
.product_centent{
    /*width: 1200px;*/
    margin: 0 auto;
    margin-top:1rem;
    /*border:1px solid red;*/
}
.product_margintop_60{
	margin-top: 60px;
}
.product_centent img{
	width: 30%;
    display: block;
    margin: 0 auto;
}
.product_title{
    text-align: center;
    font-size:2rem;
    color: #595757;
    font-weight:500;
    line-height:5rem;
}






.product_main{
	width: 100%;
    margin: 3rem auto 0 auto;
}

.product_main_li{
    /*width: 13rem;*/
    height:22rem;
    /*border:.1rem solid #dcdddd;*/
    background-color: #fff;
   -webkit-box-shadow: .1rem .1rem .2rem #ccc,-.1rem -.1rem .2rem #ccc;
   -moz-box-shadow: .1rem .1rem .2rem #ccc,-.1rem -.1rem .2rem #ccc;
   box-shadow: .1rem .1rem .2rem #ccc,-.1rem -.1rem .2rem #ccc;
	padding-top: 1rem;
}
.product_main_li img{
    display: block;
    margin: 0 auto;
   	width: 30%;
   	height: 27%;
   	padding: 1rem 0;
   	
}
.product_main_title{
    text-align: center;
    color: #006bd7;
    font-size: 1.2rem;
    font-weight:600;
    /*margin-top: 1rem;*/
}
.product_main_text{
    color: #727171;
    font-size: .8rem;
    padding-left:8px;
    padding-right:7px;
    margin-top:6px;
    line-height: 1.4rem;
    height: 9rem;
    /*border:1px solid red;*/
}
.product_go{
	text-align: center;
	font-size: 1rem;
	color: #006bd7!important;
	border: .1rem solid #006bd7;
	display: inline-block!important;
	width: 6rem;
	margin-left: 3.3rem;
	padding-left: .2rem;
}

	


.solution{
	width: 100%;
    height: 100%;
    background-image: url(../images/phone_main_leet.jpg);
    background-repeat: no-repeat;
   	background-position: 0;
}

.solution_list{
    border-right:1px solid #fff;
    margin-top: 2rem;
    margin-bottom:2rem;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}
.solution_list_li{
    height: 3rem;
    /*border:.1rem solid blue;*/
    text-align: center;
    line-height:3rem;
    margin-bottom:4.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    cursor:pointer;
}
.solution_list_active{
    background-color:#006bd7;
}
.solution_lookall{
    border:.1rem solid #fff;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    line-height: 2.4rem;
}






.solution_right{
	margin-top: 1.5rem!important;
	margin-bottom: 0;
	/*padding-bottom: 2rem;*/
	width: 70%;
	padding-left: 10px;
	padding-right: 10px;
}
.solution_right_title{
	color:#fff;
	font-size: 1.5rem;
	letter-spacing: 1px;
	line-height: 3rem;
	margin-top: 1rem;
}
.solution_right_text{
	color:#fff;
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 0rem;
	/*height: 4rem;*/
}
.solution_right_text a{
	/*width: 86px;*/
	height: 30px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
.solution_right_centent{
	border-bottom: .1rem solid #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.solution_right_page{
	width: 10rem;
	height: 2rem;
	line-height: 2rem;
	background: #006bd7;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
}
.solution_center{
	/*border-top: .1rem solid #fff;*/
	margin-top: 0;
	padding-left: 0;
	/*padding-right: 1rem;*/
	margin-bottom: 0;
}

.solution_center_li{
	width: 46%;
	height: 6.5rem;
	/*height: 40%;*/
	background-color: rgba(255,255,255,0.6);
	border: 1px solid #fff;
	/*margin-top: 12px;*/
	/*margin: 2%;*/
}
.mari_top_1{
	margin-top:1.8rem ;
}
.solution_center_li img{
	display: block;
	margin:.4rem auto 0 auto;
	height: 46%;
}
.solution_center_text{
	font-size: .8rem;
	color: #595757;
	text-align: center;
	padding-top: 1rem;
}




.tonglan{
	/*width: 1920px;*/
	/*border: 1px solid red;*/
	/*overflow: hidden;*/
	margin: 0 auto;
	height: 200px;
	background: url(../images/tonglan.png) no-repeat;
	background-position: left center;
}
.tonglan_text{
	color: #FFF;
	font-size: 28px;
	text-align: center;
	padding-top: 58px;
}
.tonglan_go{
	display: block;
	box-sizing: border-box;
	width: 160px;
	height: 44px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 44px;
	margin: 20px auto;
}
.tonglan_go:hover{
	color: #fff;
}
.tonglan_go:active{
	color: #fff;
}
.tonglan_go:link{
	color: #fff;
}
.tonglan_go:visited{
	color: #fff;
} 

.partner{
	width: 100%;
	margin-bottom: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.partner_tab{
	margin: 2rem auto 0 auto;
}
.partner_tab td{
	height: 6rem;
	text-align: center;
	vertical-align: middle;
	border: .1rem solid #dcdddd;
}
.partner_tab td img{
	width: 60%;
}

.footer{
	width: 100%;
}
.footer_top{
	background-color: #00418f;
}
.footer_mid{
	width: 100%;
}
.footer_mid ul:nth-child(1){
	padding-top: 10px;
	padding-left: 0;
	margin-left: 20px;
	margin-right: 20px;
}
.footer_mid ul:nth-child(2){
	padding-bottom: 10px;
	padding-left: 0;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0;
}
.footer_mid ul li{
	/*height: 3rem;*/
	color: #fff;
	font-size:1rem;
	line-height: 1.4rem;
	width: 50%;
}

.footer_bk_tel{
	background: url(../images/tel.png) no-repeat;
	background-position:center left;
	padding-left: 4rem;
	/*margin-top: 2rem;*/
	margin-bottom: 1rem;
	background-size: contain;
}
.footer_bk_time{
	background: url(../images/time.png) no-repeat;
	background-position:center left;
	padding-left: 4rem;
	/*margin-top: 2rem;*/
	margin-bottom: 1rem;
	background-size: contain;
}
.footer_bk_email{
	background: url(../images/email.png) no-repeat;
	background-position:center left;
	padding-left: 4rem;
	/*background-size: contain;*/
}

.footer_bk_posi{
	background: url(../images/position.png) no-repeat;
	background-position:center left;
	padding-left: 4rem;
	background-size: contain;
	font-size: .8rem!important;
	background-origin: padding-box;
}
.footer_erweima div{
	padding-top: 20px;
	vertical-align: middle;
	padding-left: 8px;
}

.footer_bot{
	background-color: #0d3581;
}
.footer_text{
	text-align: center;
	color: #fff;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: .5rem 0 .5rem 0;
}
.footer_text a{
	color: #fff;
}
.footer_text a:hover{
	color: #fff;
}
.footer_text a:active{
	color: #fff;
}
.footer_text a:link{
	color: #fff;
}
.footer_text a:visited{
	color: #fff;
}
